{
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {"browsers": ["last 2 versions", "Firefox ESR", "> 1%", "ie >= 8", "iOS >= 8", "Android >= 4"]}
      }
    ],
    "react-app"
//    "stage-0"
  ],

//  "plugins": ["transform-runtime"],//下面代码是这里的默认
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,//使用polyfill
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "ignore":[]//"index.js"
}